<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hien Thi Giao Dien</h1>

<p>
    <a th:href="@{/provinces/create}">
        Add new province
    </a>
</p>
<p>
    <a th:href="@{/cuisine/list}">
        Customers
    </a>
</p>

<table border="1px">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>count</td>
    </tr>
    <th:block th:each="p:${provinces}">
        <tr>
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.count}"></td>

        </tr>
    </th:block>
</table>
</body>
</html>